@media only screen and (max-width: 768px) {
    body{
        padding: 0!important;
        margin: 0!important;
    }
    .date-box{
        width: 100%!important;
    }
    .end-line{
        width: 90%!important;
        margin-left: 60px!important;
        margin-top: 70px!important;
    }
    .end-line-2{
        margin-top: 220px!important;
    }
    .end-line-3{
        margin-top: 48px!important;
    }
    .end-line-4{
        margin-top: 80px!important;
    }
}
@media only screen and (max-width: 480px) {
    body{
        padding: 0!important;
        margin: 0!important;
    }
    .date-box{
        width: 100%!important;
    }
    .preview-headline{
        font-size: 15px!important;
        display: block!important;
    }
    .docx-text{
        font-size: 13px!important;
    }
    .tag-btn{
        margin-left: 0!important;
    }
    .end-line{
        width: 90%!important;
        margin-left: 39px!important;
        margin-top: 70px!important;
    }
    .files-wrapper-2{
        display: none!important;
    }
    .file-wrapper-content-sm{
        display: block!important;
    }
    .date-wrapper-2{
        display: none!important;
    }
    .date-wrapper-sm{
        display: block!important;
    }
    .search-content {
        height: 1000px!important;
    }
    .preview-search-results {
        height: 1000px!important;
    }
    .end-line-2{
        margin-top: 0!important;
    }
    .end-line-3{
        margin-top: 49px!important;
    }
    .end-line-4{
        margin-top: 270px!important;
    }
    .dp-wrapper {
        display: none!important;
    }
    .dp-wrapper-sm{
        display: block!important;
        margin-top: -35px!important;
    }
    .dp-logo-sm{
        margin-left: 30px!important;
    }
    .dp-content-sm{
        margin-left: 30px!important;
    }
}

body{
    padding: 0;
    margin: 0 150px 0 150px;
}
.row {
    display: flex;
}
.menu-bar {
    width: 10%;
}
.content {
    width: 90%;
}
.empty-box{
    background-color: #03A9F4;
    height: 40px;
}
.header{
    background-color: rgba(214, 214, 214, 0.86);
    height: 40px;
}
.search-result{
    font-size: 20px;
    font-weight: bold;
    color:#606365;
    margin-left: 15px;
}
.search-result-preview{
    font-weight:100 ;
    color: #546E7A;
}
.search-content {
    height: 600px;
    background-color:#ECEFF1;
    padding: 15px 15px 0 15px;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 22px;
    background-color: white;
    background-image: url('img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.radio-btn-wrapper{
    margin-top: 6px;
}
input[type='radio']:after {
    width: 8px;
    height: 8px;
    top: 0;
    left: 0;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid #d1d3d1;
}

input[type='radio']:checked:after {
    width: 8px;
    height: 8px;
    top: 0;
    left: 0;
    position: relative;
    background-color: #03A9F4;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid #d1d3d1;
}
label{
    margin-left: 10px;
}
.preview-search-results{
    margin-top: 30px;
    height: 500px;
    background-color: #ffffff;
}
.results-wrapper{
    display: flex;

}
.results-wrapper-2{

}
.date-wrapper{
    width: 20%;
    height: 70px;
    text-align: center;

}
.v-line{
    width: 2%;
    height: 20px;
    background-color:#d1d3d1;
    margin: auto;
}
.v-line-bottom{
    width: 2%;
    height: 15px;
    background-color:#d1d3d1;
    margin: auto;
    margin-top: -4px
}
.img-size {
    height: 25px;
}
.date-box{
    width: 40%;
    height:20px;
    background-color:#d1d3d1;
    margin: auto;
}
.date-text{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.73);
    font-weight: bold;
}
.files-wrapper{
    width: 80%;
    height: 20px;
}
.file-wrapper-content{
    display: flex;
    margin-top: 16px;
}
.docx-img{
    height: 45px;
}
.docx-details {
    margin-left: 15px;
}


.preview-headline{
    font-size: 20px;
    font-weight: bold;
}

.preview-headline-bg{
    background-color: rgba(3, 169, 244, 0.11);
}
.tag-btn{
    border: 1px solid rgba(128, 128, 128, 0.23);
    padding: 2px 7px 2px 7px;
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.93);
}

.docx-text{
    color: rgba(0, 0, 0, 0.75);
}
.text-underline{
    text-decoration: underline;
}
.name-underline{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.3);
}
.text-color{
    color: rgba(0, 0, 0, 0.3);
}
.download-text{
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: underline;
    font-weight: bold;
    line-height: 27px;
}
a{
    color: #03A9F4
}
.timeline-wrapper{
    border: 1px solid grey;
    color: white;
    background-color: grey;
    padding: 1px 3px 1px 3px;
}
.timeline-text{
    color: rgba(255, 255, 255, 0.73);;
}
.end-line{
    height: 1px;
    background-color: rgba(128, 128, 128, 0.15);
    width: 90%;
    margin-left: 91px;
    margin-top: 51px;

}
.sc-shot-img{
    height: 180px;
}
.screenshot-wrapper-2{
    margin-left: 10px;
}
.preview-headline-1 {
    font-size: 13px;

}
.docx-details-1{
    margin-left: 0;
}
.docx-details-2{
    margin-left: 21px;
}
.tag-btn-1{
    margin-left: 3px;
    font-size: 7px;
    padding: 2px 5px 2px 5px;
}
.text-color-font{
    font-size: 12px;
}
.name-underline-size{
    font-size: 12px;
}
.download-text-2{
    font-size: 9px;
}
.v-line-2{
    width: 2%;
    height: 210px;
    background-color:#d1d3d1;
    margin: auto;
}
.file-wrapper-content-sm{
    margin-top: 16px;
    margin-left: 10px;
    display: none;
}
.date-wrapper-sm{
    width: 20%;
    height: 70px;
    text-align: center;
    display: none;
}
.end-line-2{
    margin-top: 230px;
}
.end-line-3{
    margin-top: 45px;
}
.discussion-text{
    font-weight: bold;
}
.docx-text-1{
    color: rgba(0, 0, 0, 0.5);
}
.text-proposal{
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
}
.text-under{
    font-size: 12px;
}
.name-text{
    font-weight: bold;
    font-size: 13px;
}
.comment-text{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6);
}
.end-line-4{
    margin-top: 45px;
}
.dp-wrapper-sm{
    display: none;
}
.dp-wrapper-content-sm{
    margin-left: 35px;
}
