@media only screen and (max-width: 480px) {
    body{
        padding: 0!important;
        margin: 0!important;
    }
    .date-box{
        width: 100%!important;
    }
}

@media only screen and (max-width: 768px) {
    body{
        padding: 0!important;
        margin: 0!important;
    }
    .date-box{
        width: 100%!important;
    }
}
body{
    padding: 0;
    margin: 0 150px 0 150px;
}
.row {
    display: flex;
}
.menu-bar {
    width: 10%;
}
.content {
    width: 90%;
}
.empty-box{
    background-color: #03A9F4;
    height: 40px;
}
.header{
    background-color: rgba(214, 214, 214, 0.86);
    height: 40px;
}
.search-result{
    font-size: 20px;
    font-weight: bold;
    color:#606365;
    margin-left: 15px;
}
.search-result-preview{
    font-weight:100 ;
    color: #546E7A;
}
.search-content {
    height: 600px;
    background-color:#ECEFF1;
    padding: 15px 15px 0 15px;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 22px;
    background-color: white;
    background-image: url('img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.radio-btn-wrapper{
    margin-top: 6px;
}
input[type='radio']:after {
    width: 8px;
    height: 8px;
    top: 0;
    left: 0;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid #d1d3d1;
}

input[type='radio']:checked:after {
    width: 8px;
    height: 8px;
    top: 0;
    left: 0;
    position: relative;
    background-color: #03A9F4;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid #d1d3d1;
}
label{
    margin-left: 10px;
}
.preview-search-results{
    margin-top: 30px;
    height: 500px;
    background-color: #ffffff;
}
.results-wrapper{
    display: flex;

}
.date-wrapper{
    width: 20%;
    height: 70px;
    text-align: center;

}
.files-wrapper{
    width: 80%;
    background-color: green;
    height: 20px;
}
.v-line{
    width: 1%;
    height: 20px;
    background-color:#d1d3d1;
    margin: auto;
}
.v-line-bottom{
    width: 1%;
    height: 15px;
    background-color:#d1d3d1;
    margin: auto;
    margin-top: -4px
}

.img-size {
    height: 25px;
}
.date-box{
    width: 40%;
    height:20px;
    background-color:#d1d3d1;
    margin: auto;
}
.date-text{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.73);
    font-weight: bold;
}